* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@font-face {
	font-family: 'bebasregular';
	src: url("../fonts/BEBAS___-webfont.eot");
	src: url("../fonts/BEBAS___-webfont.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BEBAS___-webfont.woff") format("woff"),
	url("../fonts/BEBAS___-webfont.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


.logo {
	font-family: 'bebasregular', Arial, sans-serif;
	color: #f2643e;
	margin-top: 15px;
	font-size: 36pt;
	float: left;
}

.ru {
	color: #f7b79b;
}

.main {
	margin: auto;
	width: 1024px;
}

.top {
	height: 80px;
	width: 100%;
}

.nav {
	list-style: none;
	float: right;
	margin-top: 25px;
}

.nav li {
	color: #bfbfbf;
	font-family: 'bebasregular', Arial, sans-serif;
	font-size: 16pt;
	margin-right: 15px;
	float: left;
}

a:link {
	text-decoration: none;
	color: #bfbfbf;
}

li span:first-child {
	color: #f2643e;
}

a:visited {
	color: #bfbfbf;
}


.title {
	font-family: 'bebasregular', Arial, sans-serif;
	height: 70px;
	color: #ffffff;
	padding-top: 12px;
	background-color: #f2643e;
	font-size: 24pt;
	padding-left: 25px;
	margin-bottom: 30px;
}

.content
{
	float: left;
	width: 70%;
	margin-right:70px;
}

.img {
	float:left;
	margin: 10px 15px 10px 0;
	padding: 2px;
	border: 1px solid #cccccc;

}


 p.big-d:first-letter {
 	font-family: Arial;
 	font-size: 30px;
 	font-weight: bold;
 	float: left;
 	margin-right: 5px;
 	color: #e25a36;
 }

 blockquote {
    border-left: 8px solid #f2643e;
    font-style: italic;
    margin: 1.5em 8px;
    padding: 0.5em 8px;
}

p.col-2 {
	width: 50%;
	float: left;
	margin-bottom: 50px;
	padding-right: 35px;
}

p.col-3 {
	width: 33%;
	float: left;
	margin-bottom: 50px;
	padding-right: 35px;
}

.side-bar {
	padding-left: 5%;
}

.side-title {
	color: #f2643e;
	font-family: 'bebasregular', Arial, sans-serif;
	padding-bottom: 15px;
	line-height: 20px;

}

.side-content {
	margin-bottom: 30px;
	list-style: none;
}

.side-menu li {
 list-style-type: none;
}

.side-title:after {
	float: right;
	content:" ";
	display: inline-block;
	width: 100px;
	height: 18px;
	background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,.3) 8px, rgba(0,0,0,.3) 6px,transparent 10px,transparent 11px);

}

.icon {
	position: relative;
	width: 5%;
	height: 3.25vw;
	margin-right: 1%;
	margin-bottom: 1%;
	background-color: #f3af9d;
	border: 1px solid #e8603c;
	float: left;
}

footer {
	width: 100%;
	height: 350px;
	clear: both;
	background-color: #f2643e;
	color:white;
}

footer h1 {
	font-family: 'bebasregular';
}


.fcol-1 {	
	font-family: 'Helvetica Neue';
	width: 33%;
	float: left;
	padding-left: 35px;
	margin-top: 25px;
}

.fcol-2 {
	font-family: 'Helvetica Neue';
	width: 33%;
	float: left;
	padding-left: 35px;
	margin-top: 25px;
}

.fcol-3 {
	font-family: 'Helvetica Neue';
	width: 33%;
	float: left;
	padding-left: 35px;
	margin-top: 25px;
}

.f-cont {
	line-height: 35px;
	font-family: 'Helvetica Neue';
	font-size: 16px;
	opacity: 0.5;
}

.post {
	margin-top: 15px;
	margin-left: 20%;
	margin-bottom: 60px;
}

.post-info {
	width: 20%;
	float: left;
	margin-top: 15px;
}

.post-head {
	font-family: 'bebasregular';
	color: #e8603c;
	font-size:18px;
	margin-bottom: 5px;
}

.post-data {
	margin-bottom: 5px;
	line-height: 15px;
	font-family: 'Helvetica Neue';
	font-size: 14px;
	opacity: 0.4;
}

.post-title {
	font-family: 'bebasregular';
	color: #e8603c;
	margin-bottom: 2%;
	font-size: 24px;
}

.post-content {
	font-family: 'Helvetica Neue';
	font-size: 14px;
	color: #414141;
}

.border
{
	margin-bottom: 50px;
	width: 105%;
	height: 20px;
	clear: both;
	background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, .3) 5px, rgba(0, 0, 0, .3) 8px, transparent 7px, transparent 11px)
}

.home {
	position: absolute;
	width: 75px;
	height: 75px;
	background-image: url('../img/pic.png');
	margin-left: -85px;